{%extends "base.html"%}



{%block title%}Rentpg{%endblock title%}
{%block css%}
body{
background-color:hsla(120,60%,70%,0.3);
}
{%endblock css%}
{%load static%}
{%block body%}

<br>
<br>
<br>
<br>
<br>

<br>
<div class="container my-4">
    <div class="row my-2">
      <div class="col-sm">
        
  <div class="card" style="width: 18rem;">
    <img src="{%static "images/1.jpeg"%}"  class="card-img-top zoom" alt="...">
    <div class="card-body">
      <p class="card-text"><b>Name:</b>XYZ pg</p>
      <p class="card-text"><b>Rs:</b>1500</p>
      <p class="card-text"><b>Location</b>Near khalsa college</p>
        </div>
  </div>
  
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="{%static "images/2.jpg"%}"  class="card-img-top zoom" alt="...">
          <div class="card-body">
            <p class="card-text"><b>Name:</b>XYZ pg</p>
            <p class="card-text"><b>Rs:</b>1500</p>
            <p class="card-text"><b>Location</b>Near khalsa college</p>
                    </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="{%static "images/3.jpg"%}"  class="card-img-top zoom" alt="...">
          <div class="card-body">
            <p class="card-text"><b>Name:</b>XYZ pg</p>
            <p class="card-text"><b>Rs:</b>1500</p>
            <p class="card-text"><b>Location</b>Near khalsa college</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>


{%endblock body%}

















